@import "bootstrap/bootstrap.less";
//@import "font-awesome/font-awesome.less";

nav.navbar {
	margin-bottom: 0;
	.navbar-brand {
		height: auto;
		@media (min-width: @screen-md-min) {
			padding-top: 1.5vw;
			padding-bottom: 1.5vw;
		}
		img {
			min-width: 120px;
			width: 12vw;
		}
	}
	background: @text-color;
	border-color: @text-color;
}

.top {
	position: relative;
	border-bottom: #be152b solid 2vw;
	margin-bottom: 50px;
	> img {
		width: 100%;
	}
	.arrow {
		position: absolute;
		right: 0;
		bottom: 1vw;
		width: 7vw;
		height: 10vw;
		overflow: hidden;
		> img {
			height: 10vw;
			width: 10vw;
		}
	}
}

.page-heading {
	text-align: center;
	text-transform: uppercase;
}

.flags {
	margin-bottom: 60px;
	a.flag {
		display: inline-block;
		margin: 5px;
	}
}

h1, h2 {
	font-size: 24px;
}
h1 {
	margin-bottom: 0;
	font-weight: 600;
}
h2 {
	margin-top: 5px;
}
@media (max-width: 600px) {
	h2 {
		font-size: 4vw;
	}
}